<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @assignment.store_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @assignment.employee_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @assignment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @assignment.end_date %>
</p>

<p>
  <strong>Pay level:</strong>
  <%= @assignment.pay_level %>
</p>

<%  if valid_employee!=nil && valid_employee.role=="admin" %>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%end%>
<%= link_to 'Back', assignments_path %>
