<p id="notice"><%= notice %></p>
<table>
    <tbody>
      <tr>
         <td><%= link_to 'List of All Active Jobs', job_active_path %> </td>
         <td><%= link_to 'List of All Inactive Jobs', job_inactive_path %></td>

      </tr>
    </tbody>
</table>
<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.active %></td>
        <td><%= link_to 'Show', job %></td>
        <% if valid_employee!=nil && valid_employee.role=="admin" then  %>

        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <% if valid_employee!=nil && valid_employee.role=="admin" then  %>

<%= link_to 'New Job', new_job_path %>
<%end%>
