

<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to "List Stores", stores_path %></li>
  <li><%= link_to "Active Stores", store_active_path %></li>
  <li><%= link_to "Inactive Stores", store_inactive_path %></li>


</ul>



<ul id="dropdown5" class="dropdown-content">
 <li><%= link_to "List Shift Jobs ", shift_jobs_path %></li>
 <li><%= link_to "Add a Shift Job", new_shift_job_path %></li>


</ul>

<ul id="dropdown6" class="dropdown-content">
 <li><%= link_to "List Flavors", flavors_path %></li>


</ul>

<ul id="dropdown7" class="dropdown-content">
 <li><%= link_to "List Store Flavors", store_flavors_path %></li>


</ul>

<ul id="dropdown8" class="dropdown-content">
 <li><%= link_to "List Jobs", jobs_path %></li>


</ul>


<nav>
    
 <div class="nav-wrapper">
 &nbsp&nbsp
 <a href="/" class="brand-logo" >A&M </a>


     <ul class="right">

 <!-- Dropdown Trigger -->
         <li><a class="dropdown-button" href="/employees" data-activates="dropdown1">Employees<i
            class="material-icons right">arrow_drop_down</i></a></li>
         <li><a class="dropdown-button" href="/stores" data-activates="dropdown2">Stores<i
            class="material-icons right">arrow_drop_down</i></a></li>
         <li><a class="dropdown-button" href="/assignments" data-activates="dropdown3">Assignments<i
            class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="/shifts" data-activates="dropdown4">Shifts<i
            class="material-icons right">arrow_drop_down</i></a></li>
            
            <li><a class="dropdown-button" href="/shift_jobs" data-activates="dropdown5">Shift Jobs<i
            class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="/flavors" data-activates="dropdown6">Flavors<i
            class="material-icons right">arrow_drop_down</i></a></li>
             <li><a class="dropdown-button" href="/store_flavors" data-activates="dropdown7">Store Flavors<i
            class="material-icons right">arrow_drop_down</i></a></li>
             <li><a class="dropdown-button" href="/jobs" data-activates="dropdown8">Jobs<i
            class="material-icons right">arrow_drop_down</i></a></li>
     </ul>
 </div>
</nav>