<!DOCTYPE html>
<html>
<head>
  <title>Creamery :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body  style="background-color:E3E3E3;">
  
  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "List Employees", employees_path %></li>
  <li><%= link_to "Add an Employee", new_employee_path %></li>
  <li><%= link_to "Active Employees", employee_active_path %></li>
  <li><%= link_to "Inactive Employees" , employee_inactive_path%></li>

  


</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to "List Stores", stores_path %></li>
  <li><%= link_to "Add a Store", new_store_path %></li>
  <li><%= link_to "Active Stores", store_active_path %></li>
  <li><%= link_to "Inactive Stores", store_inactive_path %></li>



 

</ul>

<ul id="dropdown3" class="dropdown-content">
 <li><%= link_to "List Assignments", assignments_path %></li>
 <li><%= link_to "Add an Assignment", new_assignment_path %></li>

</ul>


<nav>
 <div class="nav-wrapper">
 &nbsp&nbsp
 <a href="/" class="brand-logo" >A&M </a>


     <ul class="right">

 <!-- Dropdown Trigger -->
         <li><a class="dropdown-button" href="/employees" data-activates="dropdown1">Employees<i
            class="material-icons right">arrow_drop_down</i></a></li>
         <li><a class="dropdown-button" href="/stores" data-activates="dropdown2">Stores<i
            class="material-icons right">arrow_drop_down</i></a></li>
         <li><a class="dropdown-button" href="/assignments" data-activates="dropdown3">Assignments<i
            class="material-icons right">arrow_drop_down</i></a></li>
     </ul>
 </div>
</nav>


  


 <div class="row">
 <div class="col s8 center">
     
 <%= yield %>
 </div>
 <div class="col s1">
 </div>
  <div class="row">
 <div class="col s8 center">
 <%= render partial: 'partials/footer' %>
 </div>

 </div>

</body>

<%= javascript_include_tag "application" %>
<% flash.each do |message_type, message| %>
     <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
     <% end %>

</html>
